.carouselImg {
  max-height: 500px;
}

.imagesCarousel {
  margin: auto;
  max-width: 1000px;
}

.BrainhubCarousel__container {
  min-width: 1000px;
}

.BrainhubCarousel__dots {
  min-width: 1000px;
}

.BrainhubCarousel__arrows {
  background: #fb836f;
}
